.home_image {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
  margin-bottom: -150px;
  height: 300px;
  padding: 20px;
  margin-bottom: 50px;
}
.home {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.filter_button {
  margin-left: 1300px;
}
.home-row {
  display: flex;
}
